.background    { background: rgb(139, 0, 139);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.skull         { background: white; }
/* make skull into skulls */
.wall          { background: black;   }


.actor  { position: absolute;  }
.pumpkin   { background: rgb(255, 140, 0); }
.player { background: rgb(46, 139, 87); }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
